<p-card header="DASHBOARD" styleClass="ui-card-shadow">
  <!-- <p-header>
    <div class="ui-lg-2 ui-md-3 ui-sm-6 float-right">
      <button pButton type="button" icon="pi pi-check" iconPos="left" label="Novo" routerLink="novo"></button>
    </div>
  </p-header> -->

  <ng-container *ngIf="lista$ | async as lista; else loading">
    <p-table [columns]="colunas" [value]="lista" [responsive]="true">
      <ng-template tableStyleClass="lista" pTemplate="header" let-columns>
        <tr>
          <th [class.actiondash]="col.header=='Ações'" *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
          <td *ngIf="rowData.rowspan" [rowSpan]="rowData.rowspan.size">
            <a [routerLink]="['/projetos', rowData.projeto.id]">
                {{rowData.cliente}} - {{rowData.projeto.nome}}
            </a>
          </td>

          <td>
            <a target="_blank" href="https://sgo.basis.com.br/browse/{{ rowData.nome }}">
                {{ rowData.nome }}
            </a>
          </td>
          <td>{{ rowData.situacao }}</td>
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData.pontosFuncao">
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData.pontosFuncao }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>{{ formatarData(rowData.dataProximaEntrega) }}</td>
          <td>{{ checarPrazo(rowData) }}</td>
          <td>{{ rowData.qtdDefeitosCliente || 0 }}</td>
          <td>{{ rowData.qtdDefeitosInterno || 0 }}</td>
          <td>{{ checarImpedimento(rowData) }}</td>
          <td>{{ rowData.projeto.revisor }}</td>
          <td>{{ rowData.projeto.gerente }}</td>
          <td>{{ rowData.projeto.testador }}</td>
          <td>
            <a [routerLink]="['/os', rowData.id]" pButton icon="ui-icon-create"></a>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </ng-container>


  <ng-template #loading>
    <div class="ui-g-12 loading ">
      <div class="ui-g-2 ui-g-offset-5 ">
        <p><i class="pi pi-spin pi-spinner " style="font-size: 3em "></i></p>
        <p>Preprando Dashboard...</p>
      </div>
    </div>
  </ng-template>


</p-card>